@{
    ViewData["Title"] = "Home Page";
}
@model Survey
<div>
    <h1 class="text-5xl">Welcome to the Dojo Survey</h1>
        <form action="Process" method="post" class="grid justify-start w-60">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="text-input mb-3">
            <span asp-validation-for="Name" class="text-danger"></span>
            <label asp-for="DojoLocation">Dojo Location</label>        
            @Html.DropDownList("DojoLocation", ViewBag.DojoLocation, "Select Location", new { @class = "select-input mb-3" })
            <span asp-validation-for="DojoLocation" class="text-danger"></span>
            <label asp-for="FavoriteLanguage">Dojo Location</label>
            @Html.DropDownList("FavoriteLanguage", ViewBag.Language, "Select Favorite Language", new { @class = "select-input mb-3" })
            <span asp-validation-for="FavoriteLanguage" class="text-danger"></span>
            <label asp-for="Comment">Comment</label>
            <textarea asp-for="Comment" class="text-input mb-3"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
            <div class="mb-3">
                <button type="submit" class="btn-blue">Submit</button>
            </div>              
        </form>
</div>

